.blog{
    /* border-style: dotted; */
    /* border-color: aqua; */
    margin-top: 0.5rem;
    padding: 0.75rem;
    max-width: 100%;
}
.black{
    color: #BAD1CD;
}
button,input{
    color: #D66853;
}
*{
    background-color: #171717;
    font-family: 'Montserrat', sans-serif;
}
.LOGIN{
    padding-top: 10rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}
.input_gap{
    display: flex;
    flex-direction: column;
    gap: 0.05rem;
    font-size:1.25rem;
}
.message{
    text-align: center;
}
input{
    /* box-shadow:-0.1rem 0.1rem 5px 2.25px #D66853; */
}
button{
    color: #BAD1CD;
    padding: 0.35rem;
    border-radius: 0.35rem;
}
input[type=text],input[type=password],input[type=submit] {
    padding:7px;
    margin:7px 0; 
    max-width:100%;
    border-radius: 0.35rem;
  }
input[type=submit]{
    color: #BAD1CD;
}